html,
body {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

.root {
	font-family: sans-serif;
	height: 100vh;
}

.toolbar-container {
	background: lightgray;
}

.toolbar {
	padding: 5px;
	margin: 2px;
	justify-content: space-between;
	display: grid;
	grid-gap: 10px;
	grid-template-rows: repeat(10);
}

.chart {
	height: 100vh;
	width: 100vw;
}

.bold {
	font-weight: bold;
}

.input {
	display: flex;
	justify-content: space-between;
}

.App {
	height: 100vh;
}

.App {
	display: grid;
	grid-template-columns: minmax(auto, 300px) auto;

	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas: "toolbar-container chart-container chart-container chart-container";
}

.App.no-grid{
	grid-template-columns: auto;
}

.toolbar-container {
	grid-area: toolbar-container;
}

.chart-container {
	grid-area: chart-container;
}

.search-results {
	border: 2px solid;
}

.hidden,
.id {
	display: none;
}
.link-hover,
.button {
	cursor: pointer;
}
.horizontal {
	display: flex;
	flex-direction: row;
}
.center {
	display: flex;
	justify-content: center;
}

.button {
	border: 2px solid;
}

.search-result {
	padding: 2px;
}

.label {
}

.small {
	font-size: x-small;
}

.label:hover ~ .id {
	display: block;
}

.search-searching {
	width: 1em;
	height: 1em;
	background-color: blue;
	margin-left: 2px;
	align-self: center;
	-webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
	animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
	0% {
		-webkit-transform: perspective(120px);
	}
	50% {
		-webkit-transform: perspective(120px) rotateY(180deg);
	}
	100% {
		-webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
	}
}

@keyframes sk-rotateplane {
	0% {
		transform: perspective(120px) rotateX(0deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
	}
	50% {
		transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
	}
	100% {
		transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
		-webkit-transform: perspective(120px) rotateX(-180deg)
			rotateY(-179.9deg);
	}
}

.floating-controls-container {
	position: relative;
	height: 100%;
}

.floating-controls {
	display: grid;
	grid-template-columns: auto;
	gap: 0px 10px;
	grid-auto-flow: column;

	height: 100%;
	color: white;
	position: absolute;
	z-index: 2;
	top: 4px;
}

.left-float {
	left: 4px;
}

.right-float {
	right: 4px;
}